/*通用*/
/* rwd */
@media screen and (max-width: 800px) {
    /*/ 如果使用者之視窗寬度 <= 800px，將會再載入這裡的 CSS。    */
    .canPc {
        display: none;
    }
    /*index.php*/
    #architectureZone {
        height: 60vh;
        width:100%;
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
    }

    #teamZone {
        height: 200vh;
        background-image: url("../img/team.png");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*signup.php*/
    #signup_Container{
        background-color:#D8D8D8;
    }

}

@media screen and (min-width: 801px) {
    /*/ 如果使用者之視窗寬度 >= 801px，將會再載入這裡的 CSS。    */
    .canPhone {
        display: none;
    }

    /*index.php*/
    #architectureZone {
        height: 90vh;
        width:100%;
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
    }

    #teamZone {
        height: 100vh;
        background-image: url("../img/team.png");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*signup.php*/
    #signup_Container{
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
        height: 80vh;
    }
}

.section{
    padding: 20px 0;
}

.space {
    height: 15vh;
    /*160px;*/
}

.Pcspace {
    height: 65px;
    /*160px;*/
}

.Phonespace { 
    height: 60px;
}


#mbutton {
    position: fixed;
    top: 17.5px;
    left: 10px;
    z-index:20;
    cursor: pointer;
}

#gotopbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:20;
    cursor: pointer;
}

.ui.opaci1.segment {
    background: rgba(0, 37, 77, 0.31);
}

.ui.opaci2.segment {
    background: rgba(232, 236, 241, 0.31);
}

.fontColor {
    color: black;
}



/*------------------------------------------------------------------*/

/*index.php*/

#index_Container {
    background-color:#D8D8D8;
}

#videoZone {
    height: 100vh;
    background-image: url("../img/star.gif");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

#featureZone {
    height: 100vh;
    width:100%;
    background-color:yellow;
    
}

/*--------------------------------------------------------------------------------*/
/*menu.php*/

#WTE_menu_Container{
    background-color:#D8D8D8;
}

/*--------------------------------------------------------------------------------*/
/*store_upload.php*/

#WTE_store_upload_Container{
    background-color:#D8D8D8;
}


